* {
  margin: 0;
  padding: 0;
}
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
}

.hero {
  max-width: 700px;
}

.shopify-logo {
  width: 300px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #1d1f21;
}

.hero p {
  font-size: 1.2rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 25px;
}

.shop-now {
  text-decoration: none;
  background-color: #94c047;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shop-now:hover {
  background-color: #4a974a;
}
